# Dependências do AppPetGuardian

# Framework Web
fastapi==0.120.4
uvicorn[standard]==0.38.0

# Autenticação
PyJWT==2.10.1
python-multipart==0.0.9

# Banco de Dados PostgreSQL
psycopg2-binary==2.9.9

# Variáveis de Ambiente
python-dotenv==1.0.1